{% include 'app/module/product/componentsHtml/_head.html' %}

{% include 'app/module/index/componentsHtml/_header.html' %}

<main class="main">

  {% include 'app/module/product/componentsHtml/_breadcrumbs.html' %}

  {% include 'app/module/product/componentsHtml/_product.html' %}

  {% include 'app/module/product/componentsHtml/_interesting.html' %}

</main>

{% include 'app/module/index/componentsHtml/_footer.html' %}

{% include 'app/module/index/componentsHtml/_footer-scripts.html' %}