.header {
  padding: 60px 0 60px 5px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 11;
  background-color: $bg-color;
  transition: padding 0.5s;

  @include mq('desktop') {
    padding: 45px 0;
  }

  @include mq('tablet-2') {
    padding: 30px 0;
  }

  @include mq('tablet') {
    padding: 17px 0;
  }

  @include mqH('tablet') {
    padding: 10px 0;
  }

  @include mq('phone') {
    padding: 9px 0;
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header.active {
  padding-top: 10px;
  padding-bottom: 10px;

  @include mq('phone') {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include mqH('phone') {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.logo {
  margin-right: auto;

  &__img {

    @include mq('tablet') {
      width: 160px;
      height: 100%;
    }

    @include mq('phone') {
      width: 115px;
      height: 23px;
    }
  }
}

.menu {
  display: flex;
  margin-right: 53px;

  @include mq('tablet-2') {
    margin-right: 40px;
  }

  @include mq('tablet') {
    display: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 45px;

      @include mq('tablet-2') {
        margin-right: 25px;
      }
    }
  }

  &__link {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: none;

    &--active {
      color: $accent-color;
    }
  }
}

.user-nav {
  display: flex;
  margin-right: 5px;

  &__list {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }

  &__link {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    line-height: 14px;
    transition: box-shadow 0.5s, background-color 0.5s, stroke 0.5s, color 0.5s;

    & svg {
      width: 20px;
      height: 20px;
      fill: none;
      stroke: $title-color;
    }

    &:hover {
      background-color: $hover-color;

      & svg {
        stroke: $animation-color;
      }

      .user-nav__num {
        color: $hover-color;
        background-color: $animation-color;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px $accent-color;
      background-color: rgba(255, 122, 80, 0.1);
    }

    &:active {
      background-color: $social-link-bg;
    }
  }

  &__num {
    position: absolute;
    padding: 2px 5px 2px 4px;
    height: 15px;
    border-radius: 10px;
    background-color: $accent-color;
    top: 3px;
    left: 23px;
    font-size: 10px;
    color: $social-link-bg;
    line-height: 12px;
  }
}

.burger {
  margin-right: 7px;
  margin-left: 20px;
  display: none;

  @include mq('tablet') {
    @include burger;
    display: block;
    width: 44px;
    height: 44px;
    background: transparent;
    border-radius: 5px;
  }

  @include mq('phone') {
    margin-right: 0px;
    margin-left: 6px;
  }
}

.menu-burger {
  position: absolute;
  width: 300px;
  height: 100vh;
  top: 0;
  background-color: $animation-color;
  padding: 15px;
  overflow: auto;
  z-index: 10;
  transform: translateX(-200%);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;


  &::after {
    content: '';
    position: absolute;
    width: 100%;
    border: 1px solid $line-mobile;
    top: 89px;
    left: 0;
  }

  &--active {
    transform: translateX(0);
    opacity: 1;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__item {
    line-height: 1.2;

    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__link {
    text-decoration-line: none;

    &--active {
      color: $accent-color;
    }
  }

  &__close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 13px;
    width: 44px;
    height: 44px;
    right: 13px;
    transition: opacity ease 0.5s;

    &:hover {
      opacity: 0.5;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 25px;
      height: 2px;
      background-color: $title-color;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}