{% include 'app/module/catalog/componentsHtml/_head.html' %}

{% include 'app/module/index/componentsHtml/_header.html' %}

<main class="main main--bg">

  {% include 'app/module/catalog/componentsHtml/_breadcrumbs.html' %}

  {% include 'app/module/catalog/componentsHtml/_catalog.html' %}

  {% include 'app/module/index/componentsHtml/_downloads.html' %}

  {% include 'app/module/catalog/componentsHtml/_discounts.html' %}

</main>

{% include 'app/module/catalog/componentsHtml/_footer.html' %}

{% include 'app/module/index/componentsHtml/_footer-scripts.html' %}