{% include 'app/module/index/componentsHtml/_head.html' %}

{% include 'app/module/index/componentsHtml/_header.html' %}

<main class="main">
  <h1 class="sr-only">
    SimpleFood
  </h1>
  
  {% include 'app/module/index/componentsHtml/_hero.html' %}

  {% include 'app/module/index/componentsHtml/_categories.html' %}

  {% include 'app/module/index/componentsHtml/_delivery.html' %}

  {% include 'app/module/index/componentsHtml/_restorant.html' %}

  {% include 'app/module/index/componentsHtml/_review.html' %}

  {% include 'app/module/index/componentsHtml/_downloads.html' %}

</main>

{% include 'app/module/index/componentsHtml/_footer.html' %}

{% include 'app/module/index/componentsHtml/_footer-scripts.html' %}