.downloads {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    max-width: 540px;
    width: 100%;

    @include mq('tablet-2') {
      margin-right: 20px;
    }

    @include mq('tablet') {
      margin-right: 0;
    }
  }

  &__title {
    margin-bottom: 45px;
    @include line-clamp(2);

    @include mq('tablet-2') {
      margin-bottom: 35px;
    }

    @include mq('tablet') {
      margin-bottom: 25px;
    }

    @include mq('phone') {
      margin-bottom: 15px;
    }
  }

  &__text {
    margin-bottom: 30px;
    @include line-clamp(3);

    @include mq('tablet-2') {
      font-size: 18px;
      margin-bottom: 25px;
    }

    @include mq('tablet') {
      font-size: 16px;
      margin-bottom: 20px;
    }

    @include mqH('tablet') {
      font-size: 14px;
    }

    @include mq('phone') {
      font-size: 14px;
      margin-bottom: 14px;
    }
  }

  &__img {
    width: 570px;
    height: 380px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @include mq('tablet-2') {
      height: 300px;
    }

    @include mqH('tablet') {
      height: 200px;
    }

    @include mq('phone') {
      display: none;
    }
  }

  &__link {
    display: flex;
  }

  &__link-app {
    margin-right: 30px;
  }

  @include mqH('tablet') {
    padding: 20px 0 0 0;
  }
}