.review {
  &__title {
    text-align: center;
    margin-bottom: 45px;
  }
}

.slider-review {

  &__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 58px;
  }

  &__img {
    border-radius: 50%;
    margin-left: 70px;
    object-fit: cover;
  }

  &__quote {
    max-width: 650px;
    width: 100%;
    margin-right: 69px;
  }

  &__blockquote {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;

    & p {
      max-width: 590px;
      width: 100%;
      font-style: italic;
      padding-left: 40px;
      @include line-clamp(5);

      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 19px;
        left: 0;
        top: 2px;
        background-image: url('../images/sprite.svg#icon-quote-open');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(102%) contrast(91%);
      }

      &::after {
        content: '';
        position: absolute;
        width: 24px;
        height: 19px;
        right: 0;
        bottom: 0;
        transform: scaleX(-1);
        background-image: url('../images/sprite.svg#icon-quote-open');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(135deg) brightness(102%) contrast(91%);
      }
    }
  }

  &__autor {
    @extend %rubik-500;
    line-height: 130%;
    color: $accent-color;
    margin-left: 40px;

    & span {
      display: block;
      @extend %rubik-400;
      font-size: 14px;
      line-height: 130%;
      color: $default-color;
      margin-top: 15px;
      @include line-clamp(1);
    }
  }

  &__arrow {
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(73px);
    border: 3px solid $input-color;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.5s, border 0.5s, fill 0.5s, box-shadow 0.5s, opacity 0.5s;

    & svg {
      width: 19px;
      height: 11px;
      fill: $input-color;
      transform: scale(1.5);
    }

    &:hover {
      background-color: $sliderbg-color;
      border: 3px solid $slider-color;

      & svg {
        fill: $slider-color;
      }
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent-color, 0.7);
    }

    &:active {
      background-color: $social-link-bg;
      border: 3px solid $social-link-bg;

      & svg {
        fill: $hover-color;
      }
    }

    &--prev,
    &--next {
      border-radius: 50%;
    }

    &--prev {
      left: 400px;
    }

    &.slick-disabled {
      border: 3px solid $hover-color;

      & svg {
        fill: $hover-color;
      }
    }
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;

  & li {
    &:not(:last-child) {
      margin-right: 15px;
    }

    & button {
      display: flex;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $input-color;
      font-size: 0;
      transition: background-color 0.5s, box-shadow 0.5s;

      &:hover {
        background-color: $social-link-bg;
        box-shadow: 0 0 0 2px rgba($hover-color, 0.7);
      }

      &:focus {
        background-color: $input-color;
        box-shadow: 0 0 0 2px $accent-color;
      }

      &:active {
        background-color: $slider-color;
      }
    }
  }

  .slick-active {
    & button {
      background-color: $accent-color;
    }
  }
}